* {
    margin: 0 auto;
    padding: 0;
}

nav {
    background: #000;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    align-self: end;
    ;

}

nav ul li {}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.pix-input label {
    display: flex;
}

.pix-input input {
    height: 10rem;
    display: flex;
}